body {
    font-family: Arial, sans-serif;
    background: url('/Imagenes/Imagen_LogIn.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh;
    margin: 0;
}

/* Estilos generales del contenedor */
.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido interno horizontalmente */
}

/* Estilos específicos para el div.container (tamaño más pequeño) */
div.container {
    width: auto; /* Ancho más pequeño */
    height: auto; /* Altura automática para que se ajuste al contenido */
}

.form-container {
    width: 100%; /* Asegura que el formulario ocupe todo el ancho del contenedor */
}

.form {
    display: none;
    width: 100%; /* Asegura que el formulario ocupe todo el ancho del contenedor */
}

.form h2 {
    margin-bottom: 15px; /* Espaciado inferior reducido */
    font-size: 1.7em; /* Tamaño de la fuente reducido */
    text-align: center; /* Centra el texto */
}

.form input {
    margin-bottom: 10px;
    padding: 8px; /* Espaciado interno reducido */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Ocupa todo el ancho disponible */
    font-size: 1em; /* Tamaño de la fuente reducido */
    box-sizing: border-box; /* Incluye el padding en el ancho */
}

.form button {
    padding: 8px; /* Espaciado interno reducido */
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Ocupa todo el ancho disponible */
    font-size: 1.2em; /* Tamaño de la fuente */
    margin-top: 10px; /* Espaciado superior */
}

.form button:hover {
    background-color: #218838;
}

.form p {
    margin-top: 10px;
    font-size: 1.2em; /* Tamaño de la fuente reducido */
    text-align: center; /* Centra el texto */
}

#login-form {
    display: block; /* Muestra el formulario de inicio de sesión por defecto */
}